$background-color:  #0000FF;
$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.3);
$tick-color:        rgba(0, 0, 0, 0.4);
$color-1:           #ffc600;
$color-2:           #4a89dc;
$color-3:           #3bc7ae;
$color-4:           #94c73b;

.widget-cycletime {

  position: relative;

  .widget__circle {
    background-color: #fff;
  }

  &.cycle-dev {
    svg {
      path {
        fill: $color-1;
      }
    }
    .widget__circle {
      border-color: darken($color-1, 5%);
    }
  }

  &.cycle-total {
    svg {
      path {
        fill: $color-2;
      }
    }
    .widget__circle {
      border-color: darken($color-2, 5%);
    }
  }

  &.cycle-prod {
    svg {
      path {
        fill: $color-3;
      }
    }
    .widget__circle {
      border-color: darken($color-3, 5%);
    }
  }

  &.cycle-client {
    svg {
      path {
        fill: $color-4;
      }
    }
    .widget__circle {
      border-color: darken($color-4, 5%);
    }
  }

  .title, .value {
    position: relative;
    z-index: 99;
  }

  .title {
  }

  .more-info {
    color: $moreinfo-color;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
  }

  .x_tick {
    position: absolute;
    bottom: 10px;
    .title {
      font-size: 14px;
      padding-bottom: 3px;
    }
  }

  .y_ticks {
    font-size: 14px;

  }

  .domain {
    display: none;
  }

}

