// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #e5e5e5;
$title-color:       #000;
 
// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-playstore { 
 
  vertical-align: inherit !important;
  background: $background-color;
  display: block !important;
  padding: 0 !important;
  
  .container {
    padding: 10px;
    img {
        height: 35px;
        margin-top: -10px;
      }
    .name {
      .title {
        margin-left: 10px;
        font-size: 1.6em;
        
        color: $title-color;
        opacity: .9
      }
      margin-bottom: 5px;
    }
    .review {
      background: #FFF;
      color: #333;
      .rating {
        font-size: 1.5em;
      }
      .voters {
        font-size: 0.8em;
      }
    }
  }
 
}