$background-color:  #dc4aa3;
$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.3);
$tick-color:        rgba(0, 0, 0, 0.4);

.widget-velocity {
  svg {
    margin-bottom: 40px;
    path {
      fill: $background-color;
    }
  }
  position: relative;

  .title, .value {
    position: relative;
    z-index: 99;
  }

  .title {
  }

  .more-info {
    color: $moreinfo-color;
    font-weight: 600;
    font-size: 20px;
    margin-top: 0;
  }

  .x_tick {
    position: absolute;
    bottom: 10px;
    margin-left: -40px;
    .title {
      font-size: 14px;
      padding-bottom: 3px;
    }
  }

  .y_ticks {
    font-size: 14px;
  }

  .domain {
    display: none;
  }

}
