.widget-google {

}

body{
    background:#424242;
    margin:0;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow-x:hidden;
}

#container{
	padding-top:0!important;
	
	div{
		padding:0;
	}
}

  /*--------------------/
 /-------header--------/
/--------------------*/

header{
    background:#00B1C3;
    width:100%;
    height:50px;
    color:white;
}

header .title{
    display:inline-block;
    margin:10px 20px;
    font-size:25px;
}

.embed-api-auth-container{
    float:right;
    display:inline;
    margin:15px 10px;
    font-size:14px;
}

  /*--------------------/
 /---Chart-Container---/
/--------------------*/

.chart-container{
    background:#fff;
    width:100%;
}


.view-selector-container{
    display:inline-block;
    margin:10px 3% 15px;
}
.view-selector-container table{
    width:200px!important;
    padding:5px 0;
    display:inline;
    float:left;
}
.dcs-p-dcs-jd-dcs-y-dcs-g{
	border:none!important;
}
.view-selector-container .widget{
	text-align:left!important;
}

.dcs-p-dcs-jd-dcs-y-dcs-g-dcs-oe{
	display:none!important;
}

  /*---------------------------/
 /---Active-users-container---/
/---------------------------*/
.active-users-container{
    background:#FF9333;
    width:400px;
    height:350px;
    display:inline-block;
    margin:16px 3% 0 0;
    float:right;
    z-index:-2;
}
.active-users-container .gapi-analytics-data-chart-table-styles-thr:first-child, 
.active-users-container .gapi-analytics-data-chart-table-styles-td{
    display:none;
}
.active-users-container .gapi-analytics-data-chart-table-styles-td:last-child{
    display:block;
}
.active-users-container .gapi-analytics-data-chart-table-styles-td:first-child{
    text-align:center!important;
}
.active-users-container .gapi-analytics-data-chart-table-styles-tr, .gapi-analytics-data-chart-table-styles-tr-selected{
    background-color: transparent!important;
}
.active-users-container .google-visualization-table-table{
    background:transparent!important;
}
.active-users-container div{
    overflow:initial!important;
}
.active-users-container td.gapi-analytics-data-chart-table-styles-td.google-visualization-table-td-number{
    text-align:center;    
    position:relative;
    top: 180px;
    color:white;
    font-size:25px;
    font-weight:bold;
}
.active-users-container td.gapi-analytics-data-chart-table-styles-td.google-visualization-table-td-number:before{
    content:'h';
    position:absolute;
    top:-230px;
    left:90px;
    color:#FFA34C;
    font-size:400px;
    font-weight:normal;
    z-index:-1;
}
.active-users-container td.gapi-analytics-data-chart-table-styles-td.google-visualization-table-td-number:after{
    content:'Users in the last hour';
    position:absolute;
    bottom:100px;
    left:108px;
    font-size:20px;
    font-weight:normal;
}
  /*---------------------------/
 /------------End-------------/
/---------------------------*/


  /*-------------------------------/
 /---Active-users-container-two---/
/-------------------------------*/
.active-users-container-two{
    background:#A14571;
    width:400px;
    height:350px;
    display:inline-block;
    margin:16px 0 0 3%;
    float:left;
    z-index:-2;
}
.active-users-container-two .gapi-analytics-data-chart-table-styles-thr:first-child, 
.active-users-container-two .gapi-analytics-data-chart-table-styles-td{
    display:none;
}
.active-users-container-two .gapi-analytics-data-chart-table-styles-td:last-child{
    display:block;
}
.active-users-container-two .gapi-analytics-data-chart-table-styles-td:first-child{
    text-align:center!important;
}
.active-users-container-two .gapi-analytics-data-chart-table-styles-tr, .gapi-analytics-data-chart-table-styles-tr-selected{
    background-color: transparent!important;
}
.active-users-container-two .google-visualization-table-table{
    background:transparent!important;
}
.active-users-container-two div{
    overflow:initial!important;
}
.active-users-container-two td.gapi-analytics-data-chart-table-styles-td.google-visualization-table-td-number{
    text-align:center;    
    position:relative;
    top: 180px;
    color:white;
    font-size:25px;
    font-weight:bold;
}
.active-users-container-two td.gapi-analytics-data-chart-table-styles-td.google-visualization-table-td-number:before{
    content:'h';
    position:absolute;
    top:-230px;
    left:90px;
    color:#c46b95;
    font-size:400px;
    font-weight:normal;
    z-index:-1;
}
.active-users-container-two td.gapi-analytics-data-chart-table-styles-td.google-visualization-table-td-number:after{
    content:'Average server response time';
    position:absolute;
    bottom:100px;
    left:70px;
    font-size:20px;
    font-weight:normal;
}
  /*---------------------------/
 /------------End-------------/
/---------------------------*/


.chart-one-container{
    background:white;
    /*width:60%;*/
    width:800px;
    height:350px;
    display:inline-block;
    float:left;
    margin:16px 93px;
    padding:0 2%;
    position:relative;
    border:1px #DBDBDB solid;
    overflow:hidden;
}
.chart-one-container svg{
    padding:3% 0;
}
.chart-one-container div{
    position:relative;
    top:-75px;
    left:235px;
}
.chart-one-container div:before{
    content:'Sessions per device';
    color:black;
    width:200px;
    position:absolute;
    right:530px;
    top:80px;
    font-size:16px;
}

.chart-two-container{
    background:white;
    /*width:60%;*/
    width:800px;
    height:350px;
    display:inline-block;
    float:right;
    margin:16px 3% 0 0;
    padding:0 2%;
    position:relative;
    border:1px #DBDBDB solid;
    overflow:hidden;
}
.chart-two-container > div:first-child{
    margin:3% 0;
}

.chart-three-container{
    background:white;
    /*width:60%;*/
    width:800px;
    height:350px;
    display:inline-block;
    float:left;
    margin:16px 0 0 3%;
    padding:0 2%;
    position:relative;
    border:1px #DBDBDB solid;
    overflow:hidden;
}
.chart-three-container svg{
    padding:3% 0;
}

.chart-one-container:first-child, .chart-two-container:first-child{
    width:100%!important;
}
.chart-three-container:first-child{
    width:100%!important;
}

footer{
    background:#00B1C3;
    width:100%;
    height:60px;
    position: relative;
    position:fixed;
    bottom:0;
}