.widget-google {

}

body{
    background:#424242;
    margin:0;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow-x:hidden;
}


  /*--------------------/
 /-------header--------/
/--------------------*/

header{
    background:#42637B;
    width:100%;
    height:50px;
    color:white;
    position:absolute;
    left:0;
}

header .title{
    display:inline-block;
    margin:10px 20px;
    font-size:25px;
}

.embed-api-auth-container{
    float:right;
    display:inline;
    margin:15px 10px;
    font-size:14px;
}

  /*--------------------/
 /---Chart-Container---/
/--------------------*/

.chart-container{
    background:transparent;
    width:1250px;
    height:800px;
    margin:40px auto;
}
.embed-api-auth-container{
	display:none;
}

.view-selector-container{
    display:inline-block;
    margin:10px 3% 15px;
    display:none;
}
.view-selector-container table{
    width:200px!important;
    padding:5px 0;
    display:inline;
    float:left;
}
.dcs-p-dcs-jd-dcs-y-dcs-g{
	border:none!important;
}
.view-selector-container .widget{
	text-align:left!important;
}

.dcs-p-dcs-jd-dcs-y-dcs-g-dcs-oe{
	display:none!important;
}

  /*---------------------------/
 /---Active-users-container---/
/---------------------------*/
.active-users-container{
    background:#42637B;
    width:260px;
    height:350px;
    display:inline-block;
    margin:16px 10px 0 0;
    float:right;
    overflow:hidden;
    z-index:-2;
}

.active-users-container.change{
	background:red;
}

.active-users-container:before{
	content:'Users in the last hour';
	width:100%;
	margin:auto;
	position:relative;
    top:50px;
    left:0px;
    color:white;
    font-size:20px;
    font-weight:normal;
}

.active-users-container .gapi-analytics-data-chart-table-styles-thr:first-child, 
.active-users-container .gapi-analytics-data-chart-table-styles-td{
    display:none;
}
.active-users-container .gapi-analytics-data-chart-table-styles-td:last-child{
    display:block;
}
.active-users-container .gapi-analytics-data-chart-table-styles-td:first-child{
    text-align:center!important;
}
.active-users-container .gapi-analytics-data-chart-table-styles-tr, .gapi-analytics-data-chart-table-styles-tr-selected{
    background-color: transparent!important;
}
.active-users-container .google-visualization-table-table{
    background:transparent!important;
}
.active-users-container div{
    overflow:initial!important;
}
.active-users-container td.gapi-analytics-data-chart-table-styles-td.google-visualization-table-td-number{

    text-align:center;    
    position:relative;
    top: 190px;
    color:#42637B;
    font-size:45px;
    font-weight:bold;
}
.active-users-container td.gapi-analytics-data-chart-table-styles-td.google-visualization-table-td-number:before{
    content:' ';
    width:100%;
    height:300px;
    background:#e7e7e7;
    position:absolute;
    top:-80px;
    left:0px;
    z-index:-1;
}

  /*---------------------------/
 /------------End-------------/
/---------------------------*/


  /*-------------------------------/
 /---Active-users-container-two---/
/-------------------------------*/
.active-users-container-two{
    background:#42637B;
    width:260px;
    height:350px;
    display:inline-block;
    margin:16px 0 0 10px;
    float:left;
    overflow:hidden;
    z-index:-2;
}
.active-users-container-two:before{
	content:'Average server response time';
	width:100%;
	margin:auto;
	position:relative;
    top:50px;
    left:0px;
    color:white;
    font-size:20px;
    font-weight:normal;
}

.active-users-container-two .gapi-analytics-data-chart-table-styles-thr:first-child, 
.active-users-container-two .gapi-analytics-data-chart-table-styles-td{
    display:none;
}
.active-users-container-two .gapi-analytics-data-chart-table-styles-td:last-child{
    display:block;
}
.active-users-container-two .gapi-analytics-data-chart-table-styles-td:first-child{
    text-align:center!important;
}
.active-users-container-two .gapi-analytics-data-chart-table-styles-tr, .gapi-analytics-data-chart-table-styles-tr-selected{
    background-color: transparent!important;
}
.active-users-container-two .google-visualization-table-table{
    background:transparent!important;
}
.active-users-container-two div{
    overflow:initial!important;
}
.active-users-container-two td.gapi-analytics-data-chart-table-styles-td.google-visualization-table-td-number{
    text-align:center;    
    position:relative;
    top: 190px;
    color:#42637B;
    font-size:45px;
    font-weight:bold;
}
.active-users-container-two td.gapi-analytics-data-chart-table-styles-td.google-visualization-table-td-number:before{
    content:' ';
    width:100%;
    height:300px;
    background:#e7e7e7;
    position:absolute;
    top:-80px;
    left:0px;
    z-index:-1;
}

  /*---------------------------/
 /------------End-------------/
/---------------------------*/


.chart-one-container{
    background:white;
    width:600px;
    height:350px;
    display:inline-block;
    float:left;
    margin:16px 54px;
    position:relative;
    border:1px #DBDBDB solid;
    overflow:hidden;
}
.chart-one-container svg{
    padding:3% 0;
}
.chart-one-container div{
    position:relative;
    top:-75px;
    left:150px;
}
.chart-one-container div:before{
    content:'Sessions per device';
    color:#42637B;
    width:200px;
    position:absolute;
    right:465px;
    top:80px;
    font-size:16px;
    font-weight:bold;
}

.chart-two-container{
    background:white;
    width:600px;
    height:350px;
    display:inline-block;
    float:right;
    margin:-10px 10px 0 0;
    padding:0 2%;
    position:relative;
    border:1px #DBDBDB solid;
    overflow:hidden;
}
.chart-two-container > div:first-child{
    margin:3% 0;
}

.chart-three-container{
    background:white;
    width:600px;
    height:350px;
    display:inline-block;
    float:left;
    margin:-10px 0 0 10px;
    padding:0 2%;
    position:relative;
    border:1px #DBDBDB solid;
    overflow:hidden;
}
.chart-three-container svg{
    padding:3% 0;
}

.chart-one-container:first-child, .chart-two-container:first-child{
    width:100%!important;
}
.chart-three-container:first-child{
    width:100%!important;
}