/*
  //=require_directory .
  //=require_tree ../../widgets
*/
// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #30363e;
$text-color: #fff;
$header-color: #4a89dc;
$border-color: #cccbcb;

$background-warning-color-1: #e82711;
$background-warning-color-2: #9b2d23;
$text-warning-color: #fff;

$background-danger-color-1: #eeae32;
$background-danger-color-2: #ff9618;
$text-danger-color: #fff;

@mixin webfont{
  font-family: 'open_sanssemibold';
  font-weight: normal;
  font-style: normal;
  letter-spacing: -2px;
}

@-webkit-keyframes status-warning-background {
  0%   { background-color: $background-warning-color-1; }
  50%  { background-color: $background-warning-color-2; }
  100% { background-color: $background-warning-color-1; }
}
@-webkit-keyframes status-danger-background {
  0%   { background-color: $background-danger-color-1; }
  50%  { background-color: $background-danger-color-2; }
  100% { background-color: $background-danger-color-1; }
}
@mixin animation($animation-name, $duration, $function, $animation-iteration-count:""){
  -webkit-animation:  $animation-name $duration $function #{$animation-iteration-count};
  -moz-animation:     $animation-name $duration $function #{$animation-iteration-count};
  -ms-animation:      $animation-name $duration $function #{$animation-iteration-count};
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold-webfont.woff2') format('woff2'),
         url('opensans-semibold-webfont.woff') format('woff'),
         url('opensans-semibold-webfont.ttf') format('truetype'),
         url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
    letter-spacing: -2px;
}

// ----------------------------------------------------------------------------
// Base styles
// ----------------------------------------------------------------------------
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: $background-color;
  font-size: 16px;
  color: $text-color;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 12px;
  text-align: center;
  @include webfont;
}
h2 {
  @include webfont;
}
h3 {
  @include webfont;
  color: $text-color;
}

// ----------------------------------------------------------------------------
// Base widget styles
// ----------------------------------------------------------------------------
.gridster {
  margin: 0px auto;
}

.icon-background {
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 275px;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs_w {
  width: 100%;
  display: table;
  cursor: pointer;
}

.col {
  display: inline;
  float: left;
}
.col-1 {
  width: 20%;
}
.col-2 {
  width: 80%;
}

.inner-col-full {
  width: 100%;
}
.inner-col-1, .inner-col-half { 
  width: 49%;
  margin-right: 1%;

  &:nth-child(even){
    margin-right: 0;
    margin-left: 1%;
  }
}

.inner-col-third {
  width: 32.66%;
  margin-right: 1%;
  &:nth-child(3){
    margin-right: 0;
    
  }
}
.inner-col-half {
  margin-bottom: 10px;
}

.main-container {
  padding: 10px 20px 20px;
  background: #eee;
}

.builds {
  padding: 10px 20px 10px;
}

.main {
  color: #666;
  & .widget {
    background: #fff;
    border: 1px solid $border-color;
    box-sizing: border-box;
    position: relative;
    min-height: 160px;

      svg {
        width: 100%;
        fill: #666;
        margin-bottom: 40px;
        margin-top: 40px;
      }

  }
  & .widget-velocity{
     & svg {
      margin-top: 80px;
    }
  }
}

.widget.status-warning {
  background-color: $background-warning-color-1;
  @include animation(status-warning-background, 2s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

  .title, .more-info {
    color: $text-warning-color;
  }
}

.widget.status-danger {
  color: $text-danger-color;
  background-color: $background-danger-color-1;
  @include animation(status-danger-background, 2s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

  .title, .more-info {
    color: $text-danger-color;
  }
}

.more-info {
  font-size: 15px;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}

.updated-at {
  font-size: 15px;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
}

#save-gridster {
  display: none;
  position: fixed;
  top: 0;
  margin: 0px auto;
  left: 50%;
  z-index: 1000;
  background: black;
  width: 190px;
  text-align: center;
  border: 1px solid white;
  border-top: 0px;
  margin-left: -95px;
  padding: 15px;
}

#save-gridster:hover {
  padding-top: 25px;
}

#saving-instructions {
  display: none;
  padding: 10px;
  width: 500px;
  height: 122px;
  z-index: 1000;
  background: white;
  top: 100px;
  color: black;
  font-size: 15px;
  padding-bottom: 4px;

  textarea {
    white-space: nowrap;
    width: 494px;
    height: 80px;
  }
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


.display-block {
  margin-bottom: 20px;
}
.display-block__title {
  font-size: 24px;
  color: $header-color;
  @include webfont;
  margin-bottom: 10px;
  padding: 10px 0 10px 50px;
  background: transparent url(/assets/cycle-icon.png) 0 center no-repeat;
  &.display-block__title--velocity{
    background-image: url(/assets/velocity-icon.png);
  }

}
.display-block__content .widget{
  width: 100%; 
  margin: 0;
}

.widget__title-block {
  background: #fafafa;
  border-bottom: 1px solid $border-color;
  padding: 10px; 
  
}
.widget__title {
  font-size: 14px;
  letter-spacing: normal;
  padding: 0;
  margin: 0;
  text-align: left;
  display: inline-block;
}

.widget__title--sub {
  text-align: right;
  float: right;
  display: inline-block;
}

.widget__value-container {
  position: absolute;
  width: 130px;
  right: 30px;
  top: 100px;
  text-align: center;
}
.widget__circle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -42px;
  border-radius: 100%;
  border: 15px solid $border-color;

}
.widget__value-title {
  font-size: 30px;
  margin-bottom: 0;
  line-height: 1;
}
.widget__value-title--left {
  text-align: left;
}
.widget__value-numerator {
  font-size: 14px;
  letter-spacing: 0;
  font-weight: normal;
  text-align: center;
  position: relative;
}
.widget__value-numerator--left {
  text-align: left;
}

.widget__value-container--graph {
  padding: 10px;
  top: 60px;
  right: 20px;
  
  border: 1px solid $border-color;
  padding-left: 60px;
  background: transparent url(/assets/velocity.svg) 10px center no-repeat;
  background-size: 42px 46px;
}
.widget__value-container--avg {
  left: 40px;
}

// ----------------------------------------------------------------------------
// Clearfix
// ----------------------------------------------------------------------------
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.hidden {display: none;}
