<% content_for :title do %>Amnesty<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="amnesty_cycle_time_dev" data-view="Cycletime" data-title="Dev Cycle Time"></div>
    </li>
    <li class="flips" data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div class="hidden" data-id="amnesty_cycle_time" data-view="Cycletime" data-title="Production Cycle Time"></div>
      <div data-id="amnesty_cycle_time_all" data-view="Cycletime" data-title="Total Cycle Time"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Amnesty-velocity" data-view="Velocity" data-title="Weekly Velocity"></div> 
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="amnesty" data-view="Builds" data-title="Amnesty" data-project="project126"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="woodland-trust-develop" data-view="Builds" data-title="Woodland Trust (develop)" data-project="project52" data-branch="develop"></div>
    </li>
  </ul>
</div>