<% content_for :title do %>Apache<% end %>
<div class="gridster">
  <ul>
    <li class="flips" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="hidden" data-id="apache_cycle_time" data-view="Cycletime" data-title="Total Cycle Time"></div>
      <div data-id="apache_cycle_time_dev" data-view="Cycletime" data-title="Dev Cycle Time"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
      <div data-id="bayer-living-builds" data-view="Builds" data-title="Bayer" data-project="project110"></div>
      <div data-id="betta-living-builds" data-view="Builds" data-title="Betta Living" data-project="project31"></div>
      <div data-id="bsm-living-builds" data-view="Builds" data-title="Blinds Supermarket" data-project="project119"></div>
      <div data-id="hillarys-builds" data-view="Builds" data-title="Hillarys" data-project="project102"></div>
      <div data-id="hull-trains-living-builds" data-view="Builds" data-title="Hull Trains" data-project="project40"></div>

       <div data-id="senator-builds" data-view="Builds" data-title="Senator Group" data-project="project118"></div>
    </li>
  </ul>
</div>