<% content_for :title do %>App Team<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="app_cycle_time" data-view="Text" data-title="Average Cycle Time (Total)"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="app_cycle_time_dev" data-view="Text" data-title="Average Cycle Time (Dev)"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="flava-it-builds" data-view="Builds" data-title="Flava-It" data-project="project121"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="nus-builds" data-view="Builds" data-title="NUS extra app" data-project="project120"></div>
    </li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chesterzoo-android-builds" data-view="Builds" data-title="NUS Android app" data-project="project48"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="chesterzoo-ios-builds" data-view="Builds" data-title="Chester Zoo iOS app" data-project="project97"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="brother-dpp-builds" data-view="Builds" data-title="Brother Presenter App" data-project="project85"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="bettaliving-dpp-builds" data-view="Builds" data-title="Betta Living Presenter App" data-project="project92"></div>
    </li>
  </ul>
</div>