<% content_for :title do %>App Team<% end %>
<div class="gridster">
  <ul>
    <li class="flips" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="hidden" data-id="app_cycle_time" data-view="Cycletime" data-title="Total Cycle Time"></div>
      <div data-id="app_cycle_time_dev" data-view="Cycletime" data-title="Dev Cycle Time"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="App-velocity" data-view="Velocity" data-title="Weekly Velocity"></div> 
    </li>
    <li class="flips" data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="App-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="8" ></div>
      <div class="hidden" data-id="App-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="12" ></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
      <div data-id="bettaliving-dpp-builds" data-view="Builds" data-title="Betta Living Presenter App" data-project="BettaLivingPresenterIOS"></div>
      <div data-id="brother-dpp-builds" data-view="Builds" data-title="Brother Presenter App" data-project="BrotherPresenterIOS"></div>
      <div data-id="chesterzoo-ios-builds" data-view="Builds" data-title="Chester Zoo iOS app" data-project="ChesterZooCompanionAppIOS"></div>
      <div data-id="chesterzoo-android-builds" data-view="Builds" data-title="Chester Zoo Android app" data-project="ChesterZooCompanionAppAndroid"></div>
      <div data-id="flava-it-builds" data-view="Builds" data-title="Flava-It" data-project="FlavaIt"></div>
      <div data-id="hillarys-dpp-ios-builds" data-view="Builds" data-title="Hillarys Presenter iOS App" data-project="HIllarysPresenterIOS"></div>
      <div data-id="hillarys-dpp-android-builds" data-view="Builds" data-title="Hillarys Presenter Android App" data-project="HIllarysPresenterAndroid"></div>
      <div data-id="nus-builds" data-view="Builds" data-title="NUS extra app" data-project="NusExtraDiscountAppIOSNative"></div>
      <div data-id="nus-android-builds" data-view="Builds" data-title="NUS Android app" data-project="NusExtraDiscountAppAndroidCordova"></div>
      <div data-id="bayer-ios-builds" data-view="Builds" data-title="Bayer app" data-project="BayerIdentificationAppIOS"></div>
      <div data-id="bayer-android-builds" data-view="Builds" data-title="Bayer Android App" data-project="BayerIdentificationAppAndroid"></div>
      <div data-id="vevlet-builds" data-view="Builds" data-title="Velvet Website" data-project="VelvetWebsite"></div>
       <div data-id="flick-ios-builds" data-view="Builds" data-title="Flick iOS" data-project="FlickIOS"></div>
      <div data-id="flick-android-builds" data-view="Builds" data-title="Flick Android" data-project="FlickAndroid"></div>

      <div data-id="android-base-jbuild" data-view="Jbuild" data-title="Android Base Title" data-project="AndroidBase"></div>
    
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="loggly" data-view="Loggly" data-title="Flava-it Errors"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Android Chester Zoo" data-view="Playstore" data-title="Chester Zoo"></div>
      <div  data-id="iOS Chester Zoo" data-view="Appstore"></div> 
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div  data-id="Android NUS Extra" data-view="Playstore" data-title="NUS Extra"></div> 
      <div  data-id="iOS NUS Extra" data-view="Appstore" ></div> 
    </li>
  </ul>
</div>