<% content_for :title do %>App Team<% end %>
<div class="gridster">
  <ul>
    <li class="flips" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="hidden" data-id="app_cycle_time" data-view="Cycletime" data-title="Total Cycle Time"></div>
      <div data-id="app_cycle_time_dev" data-view="Cycletime" data-title="Dev Cycle Time"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="App-velocity" data-view="Velocity" data-title="Weekly Velocity"></div> 
    </li>
    <li class="flips" data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="App-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="8" ></div>
      <div class="hidden" data-id="App-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="12" ></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
      <div data-id="android-base-jbuild" data-view="Jbuild" data-title="Android Base" data-project="AndroidBase" data-team="app"></div>
      <div data-id="bayer-ios-jbuild" data-view="Jbuild" data-title="Bayer Identification App - iOS" data-project="Bayer Identification App - iOS" data-team="app"></div>
      <div data-id="bayer-android-jbuild" data-view="Jbuild" data-title="Bayer Identification App - Android" data-project="Bayer Identification App - Android" data-team="app"></div>
      <div data-id="brother-ios-jbuild" data-view="Jbuild" data-title="Brother UK Presenter - iOS" data-project="Brother UK - iOS" data-team="app"></div>
    </li>

    <li data-row="1" data-col="5" data-sizex="1" data-sizey="2">
      <div data-id="zoo-ios-jbuild" data-view="Jbuild" data-title="Chester Zoo - iOS" data-project="Chester Zoo App - iOS" data-team="app"></div>
      <div data-id="zoo-android-jbuild" data-view="Jbuild" data-title="Chester Zoo - Android" data-project="Chester Zoo App - Android" data-team="app"></div>
      <div data-id="nus-ios-jbuild" data-view="Jbuild" data-title="NUS extra - iOS" data-project="NUS extra Discount App - iOS" data-team="app"></div>
      <div data-id="nus-android-jbuild" data-view="Jbuild" data-title="NUS extra - Cordova" data-project="NUS extra Discount App - Cordova" data-team="app"></div>
      <div data-id="code-notification-service-jbuild" data-view="Jbuild" data-title="Code Notification" data-project="Code Notification" data-team="app"></div>
    </li>




    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="loggly" data-view="Loggly" data-title="Flava-it Errors"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Android Chester Zoo" data-view="Playstore" data-title="Chester Zoo"></div>
      <div  data-id="iOS Chester Zoo" data-view="Appstore"></div> 
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div  data-id="Android NUS Extra" data-view="Playstore" data-title="NUS Extra"></div> 
      <div  data-id="iOS NUS Extra" data-view="Appstore" ></div> 
    </li>
  </ul>
</div>