<% content_for :title do %>App Team<% end %>
<div class="gridster">
  <ul>
    <li class="flips" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="hidden" data-id="app_cycle_time" data-view="Cycletime" data-title="Total Cycle Time"></div>
      <div data-id="app_cycle_time_dev" data-view="Cycletime" data-title="Dev Cycle Time"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Android Chester Zoo" data-view="Playstore" data-title="Chester Zoo Android"></div>
    </li>
    
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      
      
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      
    </li>


    <li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
      <div data-id="bettaliving-dpp-builds" data-view="Builds" data-title="Betta Living Presenter App" data-project="project92"></div>
      <div data-id="brother-dpp-builds" data-view="Builds" data-title="Brother Presenter App" data-project="project85"></div>
      <div data-id="chesterzoo-ios-builds" data-view="Builds" data-title="Chester Zoo iOS app" data-project="project97"></div>
      <div data-id="flava-it-builds" data-view="Builds" data-title="Flava-It" data-project="project121"></div>
      <div data-id="hillarys-dpp-builds" data-view="Builds" data-title="Hillarys Presenter App" data-project="project113"></div>
      <div data-id="nus-builds" data-view="Builds" data-title="NUS extra app" data-project="project120"></div>
      <div data-id="nus-android-builds" data-view="Builds" data-title="NUS Android app" data-project="project48"></div>
      
      
    </li>


    
    
  </ul>
</div>