<% content_for :title do %>Bones<% end %>
<div class="grid clearfix">
	<div class="col col-1">
		<div class="builds">
			<div class="team-title">Bones</div>
			<div data-id="hmv-builds" data-view="Builds" data-title="HMV" data-project="Hmv"></div>
			<div data-id="code-builds" data-view="Builds" data-title="Code" data-project="CodeWebsite"></div>
			<div data-id="nusextra-builds" data-view="Builds" data-title="NUS extra" data-project="NusExtra"></div>
			<div data-id="nus-builds" data-view="Builds" data-title="NUS Org" data-project="NusOrg"></div>
			<div data-id="nusextradiscounts-builds" data-view="Builds" data-title="NUS Discounts" data-project="NusExtraDiscountsEngine"></div>
			<div data-id="nusextrawhitelabel-builds" data-view="Builds" data-title="NUS White Label" data-project="NusExtraWhiteLabel"></div>
			<div data-id="nusextramonitor-builds" data-view="Builds" data-title="NUS extra Monitor" data-project="NusExtraMonitor"></div>
		</div>
	</div>
	<div class="main col col-2">
		<div class="main-container">
			<div class="display-block cycle-times clearfix">
			  <h2 class="display-block__title display-block__title--cycle">Cycle times</h2>
			  <div class="display-block__content clearfix">
			  	<div class="col inner-col-1">
			  		<div data-id="hmv_cycle_time_dev" data-view="Cycletime" data-title="Development" class="cycle-dev"></div>
			  	</div>
			  	<div class="col inner-col-1">
			  		<div data-id="hmv_cycle_time" data-view="Cycletime" data-title="Total" class="cycle-total"></div>
			  	</div>
			  </div>
			</div>

			<div class="display-block velocity clearfix">
			  <h2 class="display-block__title display-block__title--velocity">Velocity</h2>
			  <div class="display-block__content">
			  	<div class="col inner-col-1">
						<div data-id="HMV-velocity" data-view="Velocity" data-title="Weekly Velocity" class="widget-full"></div>
					</div>
					<div class="col inner-col-1">
						<div class="col inner-col-half">
							<div data-id="HMV-velocity" data-view="Avgvelocity" data-title="Average Velocity"></div>
						</div>
						<div class="col inner-col-half">
							<div class="" data-id="HMV-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="8" ></div>
						</div>
						<div class="col inner-col-half">
							<div data-id="HMV-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="12" ></div>
						</div>
						<div class="col inner-col-half">
							<div class="" data-id="HMV-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="24" ></div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>