<% content_for :title do %>Chester Zoo Statistics<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ChesterZoo:Website:coverage" data-view="Number" data-title="Coverage" data-suffix="%" status="none"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ChesterZoo:Website:tests" data-view="Number" data-title="Tests"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ChesterZoo:Website:duplicated_blocks" data-view="Number" data-title="Duplicated Blocks"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ChesterZoo:Website:ncloc" data-view="Number" data-title="Number Of Lines"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ChesterZoo:Website:sqale_index" data-view="Number" data-title="Technical Debt"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ChesterZoo:Website:violations" data-view="Number" data-title="Issues"></div>
    </li>
  </ul>
</div>