<% content_for :title do %>Foxhound<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="foxhound_cycle_time_dev" data-view="Cycletime" data-title="Dev Cycle Time"></div>
    </li>
    <li class="flips" data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div class="hidden" data-id="foxhound_cycle_time" data-view="Cycletime" data-title="Production Cycle Time"></div>
      <div data-id="foxhound_cycle_time_all" data-view="Cycletime" data-title="Total Cycle Time"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="foxhound-velocity" data-view="Velocity" data-title="Weekly Velocity"></div> 
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="amnesty" data-view="Builds" data-title="Amnesty Web" data-project="AmnestyInternationalWebsite"></div>
      <div data-id="amnesty-search" data-view="Builds" data-title="Amnesty Search" data-project="AmnestyInternationalSearchManagement"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="woodland-trust-develop" data-view="Builds" data-title="Woodland Trust (develop)" data-project="WoodlandTrustWebsite" data-branch="develop"></div>
      <div data-id="woodland-trust-search" data-view="Builds" data-title="Woodland Trust Search" data-project="WoodlandTrustSearchManagement" data-branch="develop"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="dwf" data-view="Builds" data-title="DWF website" data-project="DwfWebsite"></div>
    </li>
  </ul>
</div>