<% content_for :title do %>HMV<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hmv_cycle_time" data-view="Cycletime" data-title="Total Cycle Time"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="hmv_cycle_time_dev" data-view="Cycletime" data-title="Dev Cycle Time"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="hmv-builds" data-view="Builds" data-title="HMV" data-project="project90"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="code-builds" data-view="Builds" data-title="Code" data-project="project55"></div>
    </li>
  </ul>
</div>