<% content_for :title do %>HMV<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hmv_cycle_time" data-view="Text" data-title="Average Cycle Time (Total)"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="hmv_cycle_time_dev" data-view="Text" data-title="Average Cycle Time (Dev)"></div>
    </li>
  </ul>
</div>