<% content_for :title do %>Odin's Ravens<% end %>
<div class="gridster">
  <ul>
    <li class="flips" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="hidden" data-id="302_cycle_time" data-view="Cycletime" data-title="Client Cycle Time"></div>
      <div data-id="302_cycle_time_dev" data-view="Cycletime" data-title="Dev Cycle Time"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="302_cycle_time_all" data-view="Cycletime" data-title="Total Cycle Time"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="302-velocity" data-view="Velocity" data-title="Weekly Velocity"></div>
    </li>
    
    <%# 
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="302-velocity" data-view="Avgvelocity" data-title="Avg Velocity (4 wk)"></div>
    </li>
    %>

    <li class="flips" data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="302-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="4" ></div>
      <div class="hidden" data-id="302-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="8" ></div>
    </li>

    <li class="flips" data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="302-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="12" ></div>
      <div class="hidden" data-id="302-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="24" ></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="ogb-website-builds" data-view="Builds" data-title="Oxfam Website (develop)" data-project="OxfamGbWebsite" data-branch="develop"></div>
      <div data-id="ogb-website-releases" data-view="Builds" data-title="Oxfam Website (Sitecore 7.5 Upgrade)" data-project="OxfamGbWebsiteReleases" data-branch="Sitecore_7.5_Upgrade_Release"></div>
      <div data-id="ogb-authentication-builds" data-view="Builds" data-title="Oxfam Authentication" data-project="OxfamGbAuthentication" data-branch="develop"></div>
      <div data-id="ogb-community-builds" data-view="Builds" data-title="Oxfam Community" data-project="OxfamGbCommunity" data-branch="develop"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
      <div data-id="sue-ryder-builds" data-view="Builds" data-title="Sue Ryder" data-project="SueRyderWebsite" data-branch="dev"></div>
      <div data-id="esc-builds" data-view="Builds" data-title="FA" data-project="EnglandSupportersClub"></div>
      <div data-id="brother-p-builds" data-view="Builds" data-title="Brother P Touch" data-project="BrotherPTouch"></div>
      <div data-id="electrical-safety-first" data-view="Builds" data-title="Electrical Safety First" data-project="ElectricalSafetyFirstWebsite" data-branch="develop"></div>
      <div data-id="behind-the-brands" data-view="Builds" data-title="GROW" data-project="BehindTheBrandsWebsite" data-branch="develop"></div>
      <div data-id="cester-zoo" data-view="Builds" data-title="Chester Zoo" data-project="ChesterZooWebsite" data-branch="develop"></div>
      
    </li>
  </ul>
</div>