<% content_for :title do %>Odin's Ravens<% end %>
<div class="grid clearfix">
  <div class="col col-1">
    <div class="builds">
      <div class="team-title">Odin's Ravens</div>
        <div data-id="ogb-website-builds" data-view="Builds" data-title="Oxfam Website (develop)" data-project="OxfamGbWebsite" data-branch="develop"></div>
        <div data-id="ogb-website-releases" data-view="Builds" data-title="Oxfam Website (Sitecore 7.5 Upgrade)" data-project="OxfamGbWebsiteReleases" data-branch="Sitecore_7.5_Upgrade_Release"></div>
        <div data-id="ogb-authentication-builds" data-view="Builds" data-title="Oxfam Authentication" data-project="OxfamGbAuthentication" data-branch="develop"></div>
        <div data-id="ogb-community-builds" data-view="Builds" data-title="Oxfam Community" data-project="OxfamGbCommunity" data-branch="develop"></div>
        <div data-id="sue-ryder-builds" data-view="Builds" data-title="Sue Ryder" data-project="SueRyderWebsite" data-branch="dev"></div>
        <div data-id="esc-builds" data-view="Builds" data-title="FA" data-project="EnglandSupportersClub"></div>
        <div data-id="brother-p-builds" data-view="Builds" data-title="Brother P Touch" data-project="BrotherPTouch"></div>
        <div data-id="electrical-safety-first" data-view="Builds" data-title="Electrical Safety First" data-project="ElectricalSafetyFirstWebsite" data-branch="develop"></div>
        <div data-id="behind-the-brands" data-view="Builds" data-title="GROW" data-project="BehindTheBrandsWebsite" data-branch="develop"></div>
        <div data-id="chester-zoo" data-view="Builds" data-title="Chester Zoo" data-project="ChesterZooWebsite" data-branch="develop"></div>
        <div data-id="chester-zoo-api" data-view="Builds" data-title="Chester Zoo Api" data-project="ChesterZooAppApi" data-branch="master"></div>
        <div data-id="dwf" data-view="Builds" data-title="DWF Website" data-project="DwfWebsite" data-branch="master"></div>
      </div>
    </div>
    <div class="main col col-2">
      <div class="main-container">
        <div class="display-block cycle-times clearfix">
          <h2 class="display-block__title display-block__title--cycle">Cycle times</h2>
          <div class="display-block__content clearfix">
            <div class="col inner-col-third">
              <div data-id="302_cycle_time_dev" data-view="Cycletime" data-title="Development" class="cycle-dev"></div>
            </div>
            <div class="col inner-col-third">
              <div data-id="302_cycle_time_all" data-view="Cycletime" data-title="Total" class="cycle-total"></div>
            </div>
            <div class="col inner-col-third">
              <div data-id="302_cycle_time" data-view="Cycletime" data-title="Client" class="cycle-client"></div>
            </div>
        </div>
      </div>
      <div class="display-block velocity clearfix">
        <h2 class="display-block__title display-block__title--velocity">SonarQube Statistics</h2>
        <div class="display-block__content">
          <div class="col inner-col-third">
            <div data-id="ChesterZoo:Website" data-view="List" data-title="Chester Zoo Website"></div>
          </div>
          <div class="col inner-col-third">
            <div data-id="Oxfam:Web" data-view="List" data-title="Oxfam Website"></div>
          </div>

          </div>

      </div>

      <div class="display-block velocity clearfix">
        <h2 class="display-block__title display-block__title--velocity">Velocity</h2>
        <div class="display-block__content">
          <div class="col inner-col-1">
            <div data-id="302-velocity" data-view="Velocity" data-title="Weekly Velocity"></div>
          </div>
          <div class="col inner-col-1">
            <div class="col inner-col-half">
              <div data-id="302-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="4" ></div>
            </div>
            <div class="col inner-col-half">
              <div data-id="302-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="8" ></div>
            </div>
            <div class="col inner-col-half">
              <div data-id="302-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="12" ></div>
            </div>
            <div class="col inner-col-half">
              <div data-id="302-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="24" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
