<% content_for :title do %>Oxfam App Performance<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
	  	<div>
	  		<iframe src="https://rpm.newrelic.com/public/charts/5V5rlrfZqD7" width="610" height="320" scrolling="no" frameborder="no"></iframe>
	  	</div>
	  	
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
    	<div>
	  		<iframe src="https://rpm.newrelic.com/public/charts/jFlpfJcP5p2" width="610" height="320" scrolling="no" frameborder="no"></iframe>
	  	</div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
    	<div>
	  		<iframe src="https://rpm.newrelic.com/public/charts/5NofK4wrUFj" width="610" height="320" scrolling="no" frameborder="no"></iframe>

	  	</div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
    	<div>
	  		<iframe src="https://rpm.newrelic.com/public/charts/iUdC9lR9xXU" width="300" height="320" scrolling="no" frameborder="no"></iframe>
	  	</div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
    	<div>
	  		<iframe src="https://rpm.newrelic.com/public/charts/6ZavgrctBgP" width="300" height="320" scrolling="no" frameborder="no"></iframe>
	  	</div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
    	<div>
	  		<iframe src="https://rpm.newrelic.com/public/charts/5SehdcDNp3p" width="610" height="320" scrolling="no" frameborder="no"></iframe>
	  	</div>
    </li>

	<li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
    	<div>
	  		<iframe src="https://rpm.newrelic.com/public/charts/fykfUHI153s" width="610" height="320" scrolling="no" frameborder="no"></iframe>
	  	</div>
    </li>
  </ul>
</div>