<% content_for :title do %>App Team<% end %>
<div class="gridster">
  <ul>
  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="loggly" data-view="Loggly" data-title="Flava-it Errors"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Android Chester Zoo" data-view="Playstore" data-title="Chester Zoo"></div>
      <div  data-id="iOS Chester Zoo" data-view="Appstore"></div> 
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div  data-id="Android NUS Extra" data-view="Playstore" data-title="NUS Extra"></div> 
      <div  data-id="iOS NUS Extra" data-view="Appstore" ></div> 
    </li>
  </ul>
</div>