<% content_for :title do %>wolfpack<% end %>
<div class="grid clearfix">
  <div class="col col-1">
    <div class="builds">
      <div class="team-title">Wolfpack</div>
        <div data-id="bayer-builds" data-view="Builds" data-title="Bayer" data-project="BayerCropScience"></div>
        <div data-id="betta-living-builds" data-view="Builds" data-title="Betta Living" data-project="BettaLiving"></div>
        <div data-id="seaWorldParks-builds" data-view="Builds" data-title="Seaworld Parks" data-project="SeaWorldParksWebsite"></div>
        <div data-id="transpennine-express-builds" data-view="Builds" data-title="Transpennine Express" data-project="TranspennineExpress"></div>
      </div>
  </div>
  <div class="main col col-2">
    <div class="main-container">
      <div class="display-block cycle-times clearfix">
        <h2 class="display-block__title display-block__title--cycle">Cycle times</h2>
        <div class="display-block__content clearfix">
          <div class="col inner-col-1">
            <div data-id="wolfpack_cycle_time_dev" data-view="Cycletime" data-title="Development" class="cycle-dev"></div>
          </div>
          <div class="col inner-col-1">
            <div data-id="wolfpack_cycle_time" data-view="Cycletime" data-title="Total Cycle Time" class="cycle-total"></div>
          </div>
        </div>
      </div>

      <div class="display-block velocity clearfix">
        <h2 class="display-block__title display-block__title--velocity">Velocity</h2>
        <div class="display-block__content">
          <div class="col inner-col-1">
            <div data-id="Wolfpack-velocity" data-view="Velocity" data-title="Weekly Velocity"></div> 
          </div>
          <div class="col inner-col-1">
            <div class="col inner-col-half">
              <div data-id="Wolfpack-velocity" data-view="Avgvelocity" data-title="Average Velocity"></div>
            </div>
            <div class="col inner-col-half">
              <div data-id="Wolfpack-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="8" ></div>
            </div>
            <div class="col inner-col-half">
              <div data-id="Wolfpack-velocity" data-view="Avgvelocity" data-title="Average Velocity" data-weeks="12" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

      
    