.widget-builds {
	vertical-align: baseline !important;
	padding: 0 !important;
	width: 100%;
	display: block !important;

	.title {
		text-align: center;
		width: 100%;
		font-size: 1.2em;
	}

	.success .title {
		color: black;
	}

	.failed .title {	
		color: white;
	}

	.build{
		
	}

	.project, .build-stage {
		border: 1px black solid;
		padding: 4px;
	}

	.build-stage {
		margin: 3px 0px;
	}

	.build-stage span {
		display: block;
		width: 100%;
		text-align: center;
		padding: 5px 0;
		font-weight: bold;
	}

	.success {
		background-color: #3CF00A;
	}

	.build-stage.success {
		display: none;
		color: black;
	}

	.build-stage.running {
		display: block;
	}

	.failed {
		background-color: #F00A30;
	}

	.running {
		background-color: #E4F00A;
	}
}

